
@{
    ViewBag.Title = "resumenPacientesAltaObito";
}

<table>
    <tr>
        <td>@ViewBag.uno</td>
        <td>@ViewBag.dos</td>
        <td>@ViewBag.tres</td>
        <td>@ViewBag.cuatro</td>
        <td>@ViewBag.cinco</td>
        <td>@ViewBag.seis</td>
        <td>@ViewBag.siete</td>
        <td>@ViewBag.ocho</td>
        <td>@ViewBag.nueve</td>
        <td>@ViewBag.diez</td>
        <td>@ViewBag.once</td>
        <td>@ViewBag.doce</td>
        <td>@ViewBag.trece</td>
        <td>@ViewBag.catorce</td>
        <td>@ViewBag.quince</td>
        <td>@ViewBag.dieciseis</td>
        <td>@ViewBag.diecisiete</td>
        <td>@ViewBag.dieciocho</td>
        <td>@ViewBag.diecinueve</td>
        <td>@ViewBag.veinte</td>
    </tr>
    <tr>
        @for (int i = 0; i < 20; i++)
        {
            <td></td>
        }
    </tr>
</table>


