
                @{ ViewBag.Title = ViewBag.tituloPrincipal; }
<br />
<div class="row">
    <div class="col-4">
        <a href='@Url.Action("cardiologia","Home")' class="botones" type="button">Cardiología </a>
        <br />
        <a href='@Url.Action("clinica3ero","Home")' class="botones" type="button">Clínica 3ro</a>
        <br />
        <a href='@Url.Action("guardia","Home")' class="botones" type="button">Guardia</a>
        <br />
        <a href='@Url.Action("uco","Home")' class="botones" type="button">UCO</a>
    </div>
    <div class="col-4">
        <a href='@Url.Action("cirugia","Home")' class="botones" type="button">Cirugía </a>
        <br />
        <a href='@Url.Action("geriatria","Home")' class="botones" type="button">Geriatría</a>
        <br />
        <a href='@Url.Action("maternidad","Home")' class="botones" type="button">Maternidad</a>
        <br />
        <a href='@Url.Action("uti","Home")' class="botones" type="button">UTI</a>
    </div>
    <div class="col-4">
        <a href='@Url.Action("clinica2do","Home")' class="botones" type="button">Clínica 2do </a>
        <br />
        <a href='@Url.Action("ginecologia","Home")' class="botones" type="button">Ginecología</a>
        <br />
        <a href='@Url.Action("pediatria","Home")' class="botones" type="button">Pediatría</a>
        <br />
        <a href='@Url.Action("utim","Home")' class="botones" type="button">UTIM</a>
    </div>
    <br />
    <div class="col-2"></div>
    <div class="col-4">
        <a href='@Url.Action("utip","Home")' class="botones" type="button">UTIP</a>
    </div>
    <div class="col-4">
        <a href='@Url.Action("totalizacion","Home")' class="botones" type="button">Totalización</a>
    </div>
</div>



